<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuQfzJUaqLJvrBJhqfkm_9W2Bq1SLN3bA</string>
	<key>GCM_SENDER_ID</key>
	<string>537517274575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allisson.conectadoacoes</string>
	<key>PROJECT_ID</key>
	<string>doacoes-69caa</string>
	<key>STORAGE_BUCKET</key>
	<string>doacoes-69caa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537517274575:ios:7cfc059965b0aef2568eba</string>
</dict>
</plist>